{% extends "downloader/base.html" %}
{% load static %}

{% block title %}About{% endblock %}

{% block content %}
    <section id="about" class="about section">
        <div class="container section-title" data-aos="fade-up">
            <h2>About</h2>
            <p>Download video and audio files from: 
                <strong><span class="typed" data-typed-items="YouTube, Twitter (X), Facebook, TikTok"></span></strong>
                <span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span>
                <span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span>
            </p>
        </div>
        <div class="container" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-4">
                <ul>
                    <li class="fst-italic py-1">This is a simple YouTube video downloader. It is built using Django and Python.</li>
                    <li class="fst-italic py-1">It is a project for learning purposes.</li>
                    <li class="fst-italic py-1">It is not intended for commercial use.</li>
                    <li class="fst-italic py-1">It is not intended for downloading copyrighted content.</li>
                    <li class="fst-italic py-1">It is not intended for downloading content that violates the rights of any organization.</li>
                    <li class="fst-italic py-1">It is not intended for downloading content that violates YouTube's terms of service.</li>
                    <li class="fst-italic py-1">It is not intended for downloading content that violates Google's terms of service.</li>
                    <li class="fst-italic py-1">It is not intended for downloading content that violates Alphabet's terms of service.</li>
                    <li class="fst-italic py-1">It is not intended for downloading content that violates TikTok's terms of service.</li>
                    <li class="fst-italic py-1">It is not intended for downloading content that violates the rights of content creators.</li>
                    <li class="fst-italic py-1">It is not intended for downloading content that violates the rights of content owners.</li>
                    <li class="fst-italic py-1">It is not intended for downloading content that violates X (formerly Twitter)'s terms of service.</li>
                    <li class="fst-italic py-1">It is not intended for downloading content that violates Meta's terms of service.</li>
                    <li class="fst-italic py-1">It is not intended for downloading content that violates the rights of any other entity.</li>
                    <li class="fst-italic py-1">It is not intended for downloading content that violates the rights of any individual.</li>
                </ul>
            </div>
        </div>
    </section>
{% endblock %}
