/* General styling */
* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.2;
    color: #333;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/* Remove default input border styles */
input[type="text"], 
input[type="password"], 
input[type="email"], 
input[type="url"], 
input[type="number"], 
input[type="search"], 
input[type="tel"], 
input[type="date"], 
textarea {
    background-color: blueviolet;
    border: none; /* Set a light gray border */
    border-radius: 4px; /* Rounded edges */
    padding: 10px; /* Padding inside the input box */
    font-size: 16px; /* Font size */
    outline: none; /* Remove the blue border on focus */
    box-sizing: border-box; /* Ensure padding is included in the element's width and height */
    width: 100%; /* Full width */
}

/* Change border color on focus */
input[type="text"]:focus, 
input[type="password"]:focus, 
input[type="email"]:focus, 
input[type="url"]:focus, 
input[type="number"]:focus, 
input[type="search"]:focus, 
input[type="tel"]:focus, 
input[type="date"]:focus, 
textarea:focus {
    border-color: #0aba5c; /* Darker border on focus */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

/* Additional styling for input boxes */
input[type="text"], 
input[type="password"], 
input[type="email"], 
input[type="url"], 
input[type="number"], 
input[type="search"], 
input[type="tel"], 
input[type="date"], 
textarea {
    background-color: #f9f9f9; /* Light background */
    transition: background-color 0.3s ease; /* Smooth transition for background */
}

input[type="text"]:hover, 
input[type="password"]:hover, 
input[type="email"]:hover, 
input[type="url"]:hover, 
input[type="number"]:hover, 
input[type="search"]:hover, 
input[type="tel"]:hover, 
input[type="date"]:hover, 
textarea:hover {
    background-color: #f0f0f0; /* Slightly darker background on hover */
}

 
.user-menu-content .logout-button:hover {
    background-color: #534e4e;
}
